<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>All Request</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="campaignForm">
                            <div class="row">
                                <div class="filters-label-test col-md-1">
                                    <label for="">Filtres</label>
                                </div>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Nom de produit" formControlName="name">
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <mat-label>Brand</mat-label>
                                    <mat-select formControlName="brand">
                                        <mat-option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="col-offset-1 col-md-3">
                                    <button mat-raised-button color="primary" (click)="submitForm()">Filter</button>
                                    <button mat-raised-button color="secondary" (click)="resetForm()">Reset</button>
                                </div>
                                
                            </div>
                        </form>
                        
                    </mat-card-content>
                </mat-card>
                
            </div>
        
        </div>
        <div class="row">
            <div class="col-md-12">
                    <mat-card>
                            <mat-card-header>
                                List
                            </mat-card-header>
                             <mat-card-content>
                                    <div class="table-responsive">
                                     <div class="col-md-12 table-innerwrap">
                                             <table mat-table [dataSource]="dataSource" matSort class="full mat-striped mat-bordered">
                                                 <ng-container matColumnDef="requestStatus">
                                                     <th mat-header-cell *matHeaderCellDef>Status</th>
                                                     <td mat-cell *matCellDef="let _campagn">
                                                         {{_campagn.requestStatus.name}}
                                                     </td>
                                                 </ng-container>
                                                 <ng-container matColumnDef="campaignName">
                                                     <th mat-header-cell *matHeaderCellDef>Name</th>
                                                     <td mat-cell *matCellDef="let _campagn">
                                                         {{_campagn.campaignName}}
                                                     </td>
                                                 </ng-container>
                                                 <ng-container matColumnDef="advice">
                                                     <th mat-header-cell *matHeaderCellDef>Type</th>
                                                     <td mat-cell *matCellDef="let _campagn">
                                                         {{_campagn.advice}}
                                                     </td>
                                                 </ng-container>
                                                 <ng-container matColumnDef="brand">
                                                     <th mat-header-cell *matHeaderCellDef>Brand</th>
                                                     <td mat-cell *matCellDef="let _campagn">
                                                         {{_campagn.brand.name}}
                                                     </td>
                                                 </ng-container>
                                                 <ng-container matColumnDef="submittedDate">
                                                     <th mat-header-cell *matHeaderCellDef>Submission</th>
                                                     <td mat-cell *matCellDef="let _campagn">
                                                         {{_campagn.submittedDate}}
                                                     </td>
                                                 </ng-container>
                                                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                             </table>
                                         </div>
                                        </div>
                             </mat-card-content>
                         </mat-card>
            </div>
        </div>
    </div>
